# =========================
# Dependencies
# =========================
Backend/node_modules/
Client/node_modules/

# =========================
# Environment variables
# =========================
Backend/.env
Client/.env
.env

# =========================
# Build / Production
# =========================
Client/dist/
Backend/build/
Backend/dist/

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db

.vscode/
.idea/

# =========================
# Cache
# =========================
Client/.vite/
Client/.cache/

# =========================
# Testing
# =========================
coverage/

# =========================
# Misc
# =========================
*.local